<!DOCTYPE HTML>
<html>
<head>
  <title>MiBarista</title>
  <meta name="description" content="A mobile espresso cart service for your gathering in southeast Michigan." />	
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="MiBarista" />
  <meta property="og:description" content="A mobile espresso cart service for your gathering in southeast Michigan." />
  <meta property="og:image" content="{{ site.url }}/assets/images/mibarista-background.jpeg" />
  <link href="assets/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
  <script src="/assets/estimate.js"></script>
</head>
<body>
<div class="wrapper">
  <div class="col">
    <div class="logo"></div>
    <h1>Coffee Catering</h1>
  </div>
  <div class="col">
    {{ content }}
  </div>
  <div class="col">
    {% include contact.html %}
  </div>
  <div class="col">
    {% include estimate.html %}
  </div>
</div>
</body>
</html>
